@charset "UTF-8";

#conteudo {
		width: 100%;
		float: right;		
		}
		
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figure {
    display: inline-block;
    border: 0px dotted gray;
    margin: 20px;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}

aside p {
	text-align: center;
}

h1{
	text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    text-align: center;
    font-size:12px;
    margin: 10px;
}